extends ./layout
block content
    .container
            .sixteen.columns
                    h1.remove-bottom(style='margin-top: 40px;') Composable Web
                    p Modern web development is becoming increasingly complex. Using modern techniques and libraries, you will learn how using higher level programing principles and patterns apply to JavaScript development and why these are important for your modern web developments. 
                    p Learn how to break down front end code to create reusable units of code that can be composed then into larger components when building your web applications.
 
