extends ./layout
block content
    .container
            .sixteen.columns
                    h1.remove-bottom(style='margin-top: 40px;') BrightLeaf Solutions
                    h5 Custom Development
                    hr
                .one-third.column
                    h3 About BrightLeaf?
                    p
                        | BrightLeaf is a custom software development shop focused on high quality outcomes. We can provide custom web development as well as desktop and mobile application development.
                .one-third.column
                    h3 Principles
                    p A BrightLeaf developed solution follow these core principles:
                    ul.square
                        li
                            strong User Focused
                            | : The user is at the heart of our solutions. 
                        li
                            strong Fast to Start
                            | : It's a tool for rapid development with best practices
                        li
                            strong Technology Agnostic
                            | : The right technologies will be used, not the onea with the best sales staff.
                .one-third.column
                    h3 Contact
                    p
                        | Feel free to give us a call, use the  
                        a(href='/contact') contact page
                        | or email me at 
                        a(href='mailto:kevin@brightleaf.so') kevin@brightleaf.so
                        | .
