!!! 5
html(lang='en')
    head
        meta(content='text/html; charset=utf-8')
        title Composable Web
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        link(href='/css/base.css', media='all', rel='stylesheet', type='text/css')
        link(href='/css/layout.css', media='all', rel='stylesheet', type='text/css')
        link(href='/css/skeleton.css', media='all', rel='stylesheet', type='text/css')
        link(href='/css/style.css', media='all', rel='stylesheet', type='text/css')
        script(src='http://yui.yahooapis.com/3.6.0/build/yui/yui-min.js')              
        script(src='/js/base.js')
        script(src='/yui/model-sync-offline.js')   
    body.yui3-skin-sam
        block content