modelsextends ./layout
block content
    .container
            .sixteen.columns
                    h1.remove-bottom(style='margin-top: 40px;') Mixins in Action
                    h5 Code
                    
